.locaContainer{
    width: 97%;
    position: relative;
    &__items{
        width: 91%;
        padding-left: 7px;
        &--tag{
            display: flex;
            gap: 10px;
            margin-bottom: 16px;
        }
    }
    @include tablette{
        &__items{
            padding-left: 3%;
        }
    }
    @include desktopPortable{
        &__items{
            display: flex;
            justify-content: space-between;
            padding-left: 3%;
        }
    }
    @include desktop{
        width: 1240px;
        margin-left: auto;
        margin-right: auto;
        &__items{
            width: 1240px;
            display: flex;
            justify-content: space-between;
        }
    }
    @include desktopL{
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
        &__items{
            width: 1440px;
            display: flex;
            justify-content: space-between;
        }
    }
}
.locaContainerInfos{
    width: 95%;
    padding-left: 5px;
    padding-bottom: 250px;
    &--1{
        width: 100%; 
    }
    &--2{
        width: 100%;
    }
    @include tablette{
        display: flex;
        padding-left: 2%;
        justify-content: space-between;
    }
    @include desktopPortable{
        width: 99%;
        display: flex;
        margin-left: 2%; 
    }
    @include desktop{
        width: 1240px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
       gap: 76px;
       
    }
    @include desktopL{
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 76px;
    }

}